-
    const investment_items = [
        {
            number: '#1',
            title: 'Buy 15+ companies over time',
            icon: 'investment-1',
        },
        {
            number: '#2',
            title: 'Have both speculative and long-term bets',
            icon: 'investment-2',
        },
        {
            number: '#3',
            title: 'Add new savings regularly',
            icon: 'investment-3',
        },
        {
            number: '#4',
            title: 'Hold through market volatiliti',
            icon: 'investment-4',
        },
        {
            number: '#5',
            title: 'Let your winners run',
            icon: 'investment-5',
        },
        {
            number: '#6',
            title: 'Target long-term returns',
            icon: 'investment-6',
        },
    ]