.ico-mono-investment-1 {
  width: 1em;
  height: 1em;
  fill: url(#pattern0);
}
.ico-mono-investment-2 {
  width: 1em;
  height: 1em;
  fill: url(#pattern0);
}
.ico-mono-investment-3 {
  width: 1em;
  height: 1em;
  fill: url(#pattern0);
}
.ico-mono-investment-4 {
  width: 1em;
  height: 1em;
  fill: url(#pattern0);
}
.ico-mono-investment-5 {
  width: 1em;
  height: 1em;
  fill: url(#pattern0);
}
.ico-mono-investment-6 {
  width: 1em;
  height: 1em;
  fill: url(#pattern0);
}
