section.about
    .l-overlay 
        .l-default 
            .about__wrapper
                .about__info
                    h2.about__title.title.title--h2.gradient--text About us
                    .about__name.gradient--text Sergey Pirogov
                    .about__position SEO Invest Heroes
                    .about__text 
                        p Invest Heroes LLC is a CIS-based research firm founded in 2018. Since then, we provide equity and fixed income research services which become more and more well-known locally among both professional investors and private clients. 
                        p Here’s what we do: - Cover top 120+ Russian, US and Chinese stocks - Cover 200+ Russian bonds (corporate, SOE’s) Provide our research as a paid service to several institutional clients, a couple dozen of asset managers/PM’s and about 2500 private clients. Our team consists of 2 strategists as well as a team of analysts (equity market team & fixed income). 10 analysts are currently working in our team, which has achieved global professional recognition. 
                        p In the first year, we got into the Refinitiv and Factset, in the second year our estimates began to participate in the Refinitiv consensus, in the third year we are the best analysts in the Refinitiv rating for a number of Russian companies, in the 4th year our funds’ performance is top-1 of the Russian funds rating. Our forecasts are often ahead of the market, because of detailed business model built for each company. 
                        p Contact details Sergey Pirogov CEO <a href="tel:+79197627664">+7 (919) 762 76 64</a> <a href="mailto:s.pirogov@invest-heroes.ru">s.pirogov@invest-heroes.ru</a> Aleksandr Sayganov Head of Research <a href="tel:+77081238294">+7 (708) 1238294</a> <a href="mailto:a.sayganov@invest-heroes.ru">a.sayganov@invest-heroes.ru</a>
                .about__img
                    +webp(['about/1'], 'png')