-  
    const with_items = [
        {
            img: '1',
            text: '70+ companies with forward projections of financials and fair prices in coverage',
        },
        {
            img: '2',
            text: 'Portfolio strategy from a CEO with trades in real time',
        },
        {
            img: '3',
            text: 'Special research on industries with perspective trends',
        },
        {
            img: '4',
            text: 'Long term portfolio for calm investing',
        },
    ]