section.main-top
    .l-overlay 
        .l-content  
            .main-top__wrapper
                .main-top__info
                    h1.main-top__title.title.title--h1.gradient--text Get the first research for free
                    .main-top__subtitle from our subscription!
                    .main-top__text 2500+ subscribers are already outperform the market with our support
                    form.main-top__form.form
                        .form__wrapper.main-top__form-input
                            input.form__input(type="email" name="email" placeholder="Enter your email address")
                            button.btn.btn--circle(type="submit")
                                .btn__icon  
                                    img(src="img/svg/user.svg", alt="")
                .main-top__img 
                    +webp(['main-top/1'], 'png')
