-
    const how_items = [
        {
            icon: '1',
            title: 'SEARCH',
            text: 'Our macro strategists highlight the key trends, then our team of 10 analysts pick sectors that have benefited from this trend and find top picks in each sector',
        },
        {
            icon: '2',
            title: 'MODELING',
            text: 'Analyst builds a model of the chosen company to estimate it future cash flows and see the key drivers of the earnings. We keep a contact with companies’ IR to receive accurate and exhaustive information.',
        },
        {
            icon: '3',
            title: 'RESEARCH',
            text: 'After concluding the model analyst create comprehensive report with key drivers highlighted to clarify the details of the business.',
        },
        {
            icon: '4',
            title: 'IDEA',
            text: 'Next step is to choose the best entry point for our picked stocks. Our experienced asset manager matches the timing of key drivers of the idea with the stock market conditions.',
        },
        {
            icon: '5',
            title: 'STRATEGY',
            text: 'From all the ideas in stocks and ETFs asset manager build and keep a balanced portfolio, choosing the correct proportions of shares and sectors.',
        },
        {
            icon: '6',
            title: 'COMMUNITY',
            text: 'At all stages you can ask questions to the analysts and asset manager to clarify any thesis.',
        },
    ]